body  {
    background: #CCD3E7;
    font-weight: 700;
    font-family: Roboto;
}
.adress {
    margin-top: 35px;
    margin-bottom: 35px;
    width:144px;
    float: right;
    margin-right: 30px;
}
.btn{
    
    background-color: #577CDA;
    border-radius: 15px;
    padding: 10px 20px;
   display: block;
   margin-top: 20px;
   text-align: center;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
.uslugi{
    width: 1100px;
    margin: 0 auto;
    margin-top: 350px;
    margin-bottom: -75px;
}
.zvyaz{
    width: 1100px;
    margin: 0 auto;

}
.men{
    float: right;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-areas: "a b c d ";
    grid-gap: 1px;
    margin-top: 59px;
    margin-bottom: 147px;
}

.grid-item {
    background-color: #CCD3E7;
    padding: 15px 30px 20px;
}

.grid-item h3 {
    line-height: 1.5;
    margin-top: 14px;
}

.grid-one {
    grid-area: a;
}

.grid-two {
    grid-area: b;
}

.grid-three {
    grid-area: c;
}

.grid-four {
    grid-area: d;
}

.grid-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-photo-item {
    height: 100%;
    position: relative;
}

.grid-photo-item::before {
    content: '';
    background-color: rgba(64, 65, 73, 0.5);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.grid-photo-item:hover::before {
    background-color: rgba(64, 65, 73, 0);
}

.grid-photo-item img {
    width: 100%;
    height: 100%;
}
.footer-contact {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    grid-gap: 28px;
    margin-top: 59px;
    margin-bottom: 147px;
}

.booter-contact>div {
    flex-basis: 24%;
    max-width: 24%;
}

.footer-contact h3 {
    color: #000000;
    font-size: 21px;
}

.header {
    background: #577CDA;
    padding: 10px 1px 10px;
    margin-bottom: -15px;
}
.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    margin-right: 145px;
    margin-left: 145px;
}

 a {
    color: #ffffff;
    text-decoration: none;
}
.footer {
    background: #577CDA;
    padding: 10px 1px 10px;
    margin-bottom: -15px;
}